.trans-rights {
	--ion-background-color: #f7d6e0;
  --ion-background-color-rgb: 247,214,224;

  --ion-text-color: #4e4e4e;
  --ion-text-color-rgb: 78,78,78;

  --ion-color-step-50: #efcfd9;
  --ion-color-step-100: #e6c8d1;
  --ion-color-step-150: #dec2ca;
  --ion-color-step-200: #d5bbc3;
  --ion-color-step-250: #cdb4bc;
  --ion-color-step-300: #c4adb4;
  --ion-color-step-350: #bca6ad;
  --ion-color-step-400: #b3a0a6;
  --ion-color-step-450: #ab999e;
  --ion-color-step-500: #a39297;
  --ion-color-step-550: #9a8b90;
  --ion-color-step-600: #928488;
  --ion-color-step-650: #897e81;
  --ion-color-step-700: #81777a;
  --ion-color-step-750: #787073;
  --ion-color-step-800: #70696b;
  --ion-color-step-850: #676264;
  --ion-color-step-900: #5f5c5d;
  --ion-color-step-950: #565555;

  --ion-color-primary: #60a7f3;
  --ion-color-primary-rgb: 96,167,243;
  --ion-color-primary-contrast: #FFFFFF;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #5493d6;
  --ion-color-primary-tint: #70b0f4;

  --ion-color-danger: #ff75a2;
  --ion-color-danger-rgb: 255,117,162;
  --ion-color-danger-contrast: #FFFFFF;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e0678f;
  --ion-color-danger-tint: #ff83ab;
}
